.catalog {
    margin: 0;
    padding: 0;
}

.left-category-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.category-heading {
    border-radius: 3px 3px 0 0;
    background: var(--main-color);
    opacity: 0.9;
}

.category-menu {
    position: relative;
    background: #fff;
}

.category-menu {
    border: 1px solid #d3d3d3;
    border-top: none;
}

.category-menu:last-child {
    border-radius: 0 0 3px 3px;
}

.category-menu:hover,
.category-menu_active {
    background: #d3d3d3;
}

.catalog-links {
    display: block;
    padding: 7px 15px;
    color: #303030;
}

.catalog-description {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    text-transform: uppercase;
}

.category-menu > div {
    display: none;
}

.hidden-menu {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    width: 920px;
    height: auto;
}

.hidden-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #d3d3d3;
    background: #fff;
    height: 100px;
    width: 200px;
}

.menu-item-heading {
    padding: 3px 3px;
}

@media screen and (max-width: 1200px) {
    .category-menu:hover > div {
        left: 210px;
        top: 0;
    }
    .hidden-menu {
        width: 720px;
    }
    .menu-item-heading {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 767px) {
    .catalog-wrapper {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .category-heading {
        display: none;
    }
}
