.navbar {
    top: 0;
    z-index: 999;
    position: fixed;
    width: 100vw;
    opacity: 0.9;
    background: #181818 !important;
}

.navbar-brand {
    font-size: 1rem;
    line-height: 1rem;
    color: #228ce2 !important;
}

.navbar-brand:hover {
    color: var(--main-color-light) !important;
}

.navbar-brand__logo {
    width: 2.2rem;
    margin-right: 1rem;
    color: inherit;
    fill: currentColor;
}

.catalog-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}

.nav-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header__company-description {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-inner {
        flex-wrap: nowrap !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        display: none;
    }

    .header__company-description {
        display: inline;
        font-size: 0.8rem;
    }

    .navbar-inner {
        color: #228ce2 !important;
    }

    .catalog-mobile {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: inline;
        cursor: pointer;
    }

    .navbar-brand__logo {
        width: 30px;
        height: 30px;
    }

    .navbar {
        height: 60px;
    }

    .navbar-nav {
        display: none;
    }

    .menu-mobile {
        display: inline;
        cursor: pointer;
    }

    .menu-mobile_visible {
        display: flex;
        background-color: aliceblue;
        flex-direction: column;
        text-align: center;
        right: 0;
        position: absolute;
        width: 50px;
        left: auto !important;
    }

    .dropdown-item {
        padding: 10px;
        font-size: 1.2rem;
        text-align: center;
    }

    .nav-mobile {
        display: inline;
    }
}
